name: Pull Request Checks

on:
  pull_request:
    branches:
      - main

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Placeholder
        run: |
          echo "Will add code checks here in the next challenge"
